* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#header {
  box-sizing: border-box;
  margin: 2vh;
  padding: 2vh;
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background-color: blanchedalmond;
}
#section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#app {
  background-color: rgb(217, 232, 202);
  height: 60vh;
  width: 40vh;
  margin: 4vh;
  padding: 4vh;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.input {
  height: 4vh;
  width: auto;
  border: 1px solid black;
  color: black;
}
.btn {
  height: 4vh;
  width: 5rem;
  background-color: gray;
  border-radius: 50px;
  color: white;
}
.btn:hover {
  background-color: antiquewhite;
  color: black;
}
